
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(121, 121, 121);
}
h1{
    margin-top: 30px;
    text-align: center;
}
h2{
    margin-top: 60px;
    text-align: center;
}

/* ------- Analog clock: ---------*/

.bodyClock{
    width: 600px;
    z-index: 1;
    opacity: 100%;
}
.clockContainer{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-top: 120px;
}
.minutesHand, .secondsHand, .hoursHand{
    display: flex;
    position: absolute;
    z-index: 2;
    scale: -0.5 ;
    transition: 0.2s;
}

.secondsHand{
    transform-origin:505px;
    top: 242px;
    right: 128px;
    transform: rotate(-90deg);
    /* display: none; */
}
/* .secondsHand:hover{
    transform: rotate(360deg);
} */

.minutesHand{
    transform-origin: 180px 85px;
    top: 214px;
    left: 121px;
    transform: rotate(90deg);
    transition: 0.05s;
    
}
/* .minutesHand:hover{
    transform: rotate(180deg);
} */

.hoursHand{
    transform-origin: 170px 71px ;
    scale: 0.4;
    height: 150px;
    width: 520px;
    top : 228px;
    right: center;
    right: -49.7px;
    transition: 0.02s;
    transform: rotate(0);
    
}
/* .hoursHand:hover{
    transform: rotate(180deg);
} */

/* ------- numeric clock: ---------*/

.alarmContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alarmInput{
    text-align: center;
    width: 150px;
    height: 50px;
    font-size: 25px;
    font-weight: 700;
}

/* -------Dring Alarm------- */


.rightBell, .leftBell, .dring{
    position: absolute;
    z-index: 0;
    width: 300px;
    transition: 0.5s;
}
.leftBell{
    transform-origin:210px 220px;
    left: -50px;
    top: -105px;
    transform: rotate(-8deg);
}
.rightBell{
    transform-origin: 100px 200px;
    right: -60px;
    top: -98px;
    transform: rotate(5deg); 
}
.rightBell:hover, .leftBell:hover{
   
    transform: rotate(-30deg);
    transition: 0.5s;
}
.dring{
    transform-origin:100px 200px;
    width: 150px;
    top: -100px;
    left: 200px;
}
.dring:hover{
    transform: rotate(360deg);
    transition: 1.5s;
}