
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/IMG/steampunk.jpg");
    background-size: cover;
}
h1{
    font-family: 'MedievalSharp', cursive;
    margin-top: 40px;
    text-align: center;
    font-size: 80px;
    color: white;
    z-index: 3;
}
h2{
    margin-top: 60px;
    text-align: center;
    font-size: 45px;
    font-family: 'MedievalSharp', cursive;
    color: white;
    z-index: 3;
}

/* ------- Analog clock: ---------*/

.bodyClock{
    width: 600px;
    z-index: 1;
    opacity: 100%;
}
.clockContainer{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-top: 50px;
}
.minutesHand, .secondsHand, .hoursHand{
    display: flex;
    position: absolute;
    z-index: 2;
    scale: -0.5 ;
    transition: 0.2s;
}

.secondsHand{
    transform-origin:505px;
    top: 242px;
    right: 128px;
    transform: rotate(-90deg);
    /* display: none; */
}

.minutesHand{
    transform-origin: 180px 85px;
    top: 214px;
    left: 121px;
    transform: rotate(90deg);
    transition: 0.05s;
}


.hoursHand{
    transform-origin: 170px 71px ;
    scale: 0.4;
    height: 150px;
    width: 520px;
    top : 228px;
    right: center;
    right: -49.7px;
    transition: 0.02s;
    transform: rotate(0);
}


/* ------- alarm ---------*/

.alarmContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alarmInput{
    text-align: center;
    width: 150px;
    height: 50px;
    font-size: 25px;
    font-weight: 700;
    z-index: 3;
}
.alarmButton{
    width: 130px;
    height: 40px;
    margin: 15px;
    font-size: 17px;
    font-weight: 700;
    border-radius: 17px;
} 
.alarmButton:hover{
    opacity: 70%;
    transition: 0.2s;
}

/* -------Dring Alarm------- */


.rightBell, .leftBell, .dring{
    position: absolute;
    z-index: 0;
    width: 300px;
    transition: 0.5s;
}
.leftBell{
    transform-origin:210px 220px;
    left: -50px;
    top: -105px;
    transform: rotate(-8deg);
}
.rightBell{
    transform-origin: 100px 200px;
    right: -60px;
    top: -98px;
    transform: rotate(5deg); 
}
.rightBell:hover, .leftBell:hover{
   
    transform: rotate(-30deg);
    transition: 0.5s;
}
.dring{
    transform-origin:100px 200px;
    width: 150px;
    top: -100px;
    left: 200px;
}
.dring:hover{
    transform: rotate(360deg);
    transition: 1.5s;
}

/* Decorations (engine wheel etc) */

.littleWheel, .bigWheel{
    position: absolute;
    scale: 0.4;
    transition: 0.3s;
}
.bigWheel{
    right: 240px;
    top : 35px
}
.littleWheel{
    top: -25px;
    right: 310px;
    transform: rotate(20deg);
}
.shadow{
    width:950px;
    position: absolute;
    top: -170px;
    left: -182px;
}
